# ==========================
# ⚙️  GÉNÉRAL
# ==========================
.DS_Store
Thumbs.db
*.log
*.swp
*.swo


# ==========================
# 🖥️  FRONTEND (REACT/VUE)
# ==========================

# Node modules et builds
node_modules/
.cache/
dist/
build/


# Variables d'environnement (sensibles)
.env
.env.local
.env.development
.env.production
.env.test


# Logs et erreurs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================
# 🧪  TESTS & COUVERTURE
# ==========================
/test/
coverage/
coverage/

# ==========================
# 🔍  DIVERS
# ==========================
/tmp/
*.tmp
node_modules
