/* BudgetWidget.module.css */

.budgetWidget {
  background-color: var(--alt-bg);
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.budgetWidgetTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.budgetWidgetBalance {
  font-size: 1.5rem;
  color: #68d391;
}
