/* DebtWidget.module.css */

.debtWidget {
  background-color: var(--alt-bg);
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px var(--overlay-bg);
}

.debtWidgetTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.debtWidgetAmount {
  font-size: 1.5rem;
  color: var(--warning);
}
