.profileContainer {
  min-height: 100vh;
  background: linear-gradient(135deg, var(--alt-bg), var(--bg));
  display: flex;
  justify-content: center;
  padding: 20px;
}

.profileContent {
  width: 100%;
  max-width: 600px;
  color: var(--text);
  padding: 32px;
  border-radius: 12px;
}

.profileInfo {
  text-align: center;
  margin-bottom: 32px;
}

.profileTitle {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.profileDetail {
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.formsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formCard {
  background: linear-gradient(135deg, var(--alt-bg), var(--bg-alt2));
  border-radius: 12px;
  padding: 26px;
  padding-right: 56px;
  box-shadow: 0 4px 12px var(--overlay-bg);
  border: 1px solid rgba(55, 65, 81, 0.5);
}

.formCardTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formField {
  display: flex;
  flex-direction: column;
}

.formLabel {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 6px;
}

.formInput {
  padding: 12px 16px;
  border: 1px solid var(--secondary-bg);
  border-radius: 8px;
  background-color: var(--bg-alt2);
  color: var(--text);
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s;
}

.formInput:focus {
  border-color: var(--primary);
}

.submitBtn {
  margin-right: -26px;
  background-color: #3b82f6;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1rem;
}

.submitBtn:hover {
  background-color: var(--primary-hover);
}
