/* Navbar.module.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, var(--bg), var(--alt-bg), var(--bg));
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--secondary-bg);
  box-shadow: 0 4px 6px var(--overlay-bg);
  z-index: 50;
}

.navbarContainer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.navbarLogo {
  color: var(--text);
  font-size: 27px;
  font-weight: 800;
  letter-spacing: 1px;
  text-decoration: none;
}

.navbarLogo span {
  color: var(--accent);
}

.navbarLinks {
  display: flex;
  gap: 20px;
  font-size: 16px;
}

.navbarLink {
  color: var(--secondary-text);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navbarLink:hover {
  color: var(--accent);
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 50px;
}

.authButton {
  padding: 8px 20px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  transition: background 0.3s ease-in-out;
}

.primary {
  background-color: var(--accent);
  color: var(--text);
}

.primary:hover {
  background-color: var(--primary);
}

.secondary {
  background: none;
  border: 1px solid var(--secondary-bg);
  color: var(--secondary-text);
}

.secondary:hover {
  background-color: var(--secondary-bg);
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: none;
  cursor: pointer;
  margin: auto;
}

.profileImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.mobileMenuButton {
  display: none;
  color: var(--secondary-text);
  font-size: 22px;
  cursor: pointer;
  background: none;
  border: none;
  align-items: center;
  justify-content: right;
}

.mobileMenu {
  display: none;
  background-color: var(--alt-bg);
  border-top: 1px solid var(--secondary-bg);
  padding: 16px;
  margin-top: 64px;
}

.mobileLink {
  display: block;
  color: var(--secondary-text);
  text-decoration: none;
  margin-bottom: 12px;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.mobileLink:hover {
  color: var(--accent);
}

@media (max-width: 850px) {
  .navbarLinks {
    display: none;
  }

  .mobileMenuButton {
    display: block;
  }

  .mobileMenu {
    display: block;
  }
}
