.signupButton {
  background-color: var(--success);
  color: var(--text);
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.signupButton:hover {
  background-color: var(--success-hover);
}
